__pycache__
.ipynb_checkpoints
venv
data
.data
runs
*.pt
*.swp

foo_env/
aio_project/imgs
rl_env/baselines
torch_env/003-CVAE/results
practice
lightning_env/01-mnist-hello-world/MNIST/
lightning_env/01-mnist-hello-world/ckpt/
lightning_env/01-mnist-hello-world/lightning_logs/
